{% extends "base.html" %}

{% block title %}A Festa{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
                	<div class="indent-right">
                    	<h2 class="indent-bot2">
							<img class="logo-hotel" src="static/images/logo_hotel.png" alt="Hotel Santa Teresa">
							<img class="logo-hotel nome-hotel" src="static/images/logo_hotel_2.png" alt="Hotel Santa Teresa">
							<img class="logo-hotel" src="static/images/relais.jpg" alt="Hotel Santa Teresa">
						</h2>
                        <div class="indent-bot">
                            <figure class="img-border1"><img src="static/images/hotel.jpg" alt="Hotel Santa Teresa"></figure>
                            <div class="clear"></div>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                	<div class="indent-left">
						<h2 class="indent-bot2">Localização</h2>
                        <div class="indent-bot">
                            <figure class="img-border1">
								<a href="https://maps.google.com/maps?z=19&q=-22.921834,-43.187698(Casamento+Mari+e+Victor)"><img src="static/images/mapa_hotel.png"></a>
                            </figure>
                            <div class="clear"></div>
                        </div>
                        <dl>
                            <dt class="p2">Rua Almirante Alexandrino, 660 Santa Teresa - Rio de Janeiro - RJ</dt>
                            <dd><span>Telefone:</span> (21) 3380-0200</dd>
                        </dl>
                        <a class="link-1" href="#como-chegar">Como chegar</a>
                        </dl>
                    </div>
                </article>
            </div>
        </div>
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_12">
                    <h2 class="indent-bot2" id="como-chegar">Como chegar a partir do Outeiro da Glória</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d3674.7890272007894!2d-43.17859597519414!3d-22.921151182086486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e0!4m5!1s0x997f7e07814c65%3A0xc1e14e835834813a!2sLadeira+da+Gl%C3%B3ria%2C+174-264+-+Gl%C3%B3ria%2C+RJ%2C+Brasil!3m2!1d-22.9217872!2d-43.1752541!4m5!1s0x997f778217b9b5%3A0xa34b178da4a69521!2sRua+Almirante+Alexandrino%2C+660+-+Santa+Teresa%2C+RJ%2C+20241-260%2C+Brasil!3m2!1d-22.9208423!2d-43.1847718!5e0!3m2!1spt-BR!2s!4v1391978941341" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </article>
            </div>
        </div>
    </div>
</section>

{% end %}

{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[2]).addClass("active");
</script>
{% end %}