{% extends "base.html" %}

{% block title %}A Festa{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
                	<div class="indent-right">
                    	<h2 class="indent-bot2">
							<img class="logo-hotel" src="static/images/logo_hotel.png" alt="Hotel Santa Teresa">
							<img class="logo-hotel nome-hotel" src="static/images/logo_hotel_2.png" alt="Hotel Santa Teresa">
							<img class="logo-hotel" src="static/images/relais.jpg" alt="Hotel Santa Teresa">
						</h2>
                        <div class="indent-bot">
                            <figure class="img-border1"><img src="static/images/hotel.jpg" alt="Hotel Santa Teresa"></figure>
                            <div class="clear"></div>
                     <p class="p2">Erguido em uma histórica fazenda colonial, localizada na área mais nobre de Santa Teresa, o boutique hotel foi restaurado com charme e sofisticação para ser a referência exclusiva do design tropical brasileiro no Rio de Janeiro.</p>
                        </div>
                    </div>
                </article>
                <article class="grid_4">
                	<div class="indent-left">
						<h2 class="indent-bot2">Localização</h2>
                        <div class="indent-bot">
                            <figure class="img-border1">
								<a href="https://maps.google.com/maps?z=19&q=-22.921834,-43.187698(Casamento+Mari+e+Victor)"><img src="static/images/mapa_hotel.png"></a>
                            </figure>
                            <div class="clear"></div>
                        </div>
                        <dl>
                            <dt class="p2">Rua Almirante Alexandrino, 660 Santa Teresa - Rio de Janeiro - RJ</dt>
                            <dd><span>Telefone:</span> (21) 3380-0200</dd>
                        </dl>
						<a class="link-1" href="http://santateresahotel.com" target="_new">Site do hotel</a>
                        </dl>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% end %}

{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[2]).addClass("active");
</script>
{% end %}