{% extends "base.html" %}

{% block title %}Mariana e Victor{% end %}

{% block main %}
<div class="main">
	<div class="slider-wrapper">
        <div class="slider">
            <ul class="items">
                <li>
                    <img src="static/images/foto1.jpg" alt="Macchu Picchu" />
                </li>
                <li>
                    <img src="static/images/foto2.jpg" alt="Lisboa" />
                </li>
                <li>
                    <img src="static/images/foto3.jpg" alt="Paris" />
                </li>
                <li>
                    <img src="static/images/noivado.png" alt="Noivado" />
                </li>
                <li>
                    <img src="static/images/big_sur.png" alt="Big Sur" />
                </li>
                <li>
                    <img src="static/images/tour_eiffel.png" alt="Tour Eiffel" />
                </li>
            </ul>
        </div>
    </div>
</div>
{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_8">
					{% if messages %}
                	<div class="indent-right">
                        <!--<h2 class="indent-bot2">Mensagens aos Noivos</h2>-->
						{% for message in messages %}
                        <div class="wrapper p3">
							<span class="text-1">{{message.name}}</span>
                            <div class="extra-wrap">
                                <blockquote class="q1">
                                	<span class="quote-marker1"></span>
                                    <div class="quote-bot">
                                        <div class="quote-top">
                                            <div class="quote">
                                                <div class="padding">
                                                    <p class="p2">&quot;{{message.message}}&quot;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
						{% end %}
                    </div>
					{% end %}
                	<div class="indent-right">
					<h2 class="indent-bot2">Breve História</h2>
					<p>Nós nos conhecemos em uma improvável sexta-feira...</p>
					<p>Eu estava em casa, em uma sexta-feira de Fevereiro de 2005, assistindo televisão (algum filme bem bobo, provavelmente) quando o excelentíssimo Thiago Valadão me chamou para sair.</p>
					<p>A resposta inicial foi um esperado não. Mas como amigo o bom amigo que é, insistiu que ficar em casa em uma sexta não estava certo...</p>
					<p>Na verdade, fui facilmente convencido pelo argumento: vou com um amigo que vai levar umas amigas. Fácil assim!</p>
					<p>Fomos parar no Caroline Café (Jardim Botânico) onde já estavam um outro amigo nosso e, o então desconhecido por mim, Bruno Schroeder, que viria a se tornar um grande amigo.</p>
					<p><img src="static/images/g-rj-caroline_r.jpg" alt=""></p>
					<p>Conheci Nana nesse grupo de amigas. Não foi algo imediato (não para ela, pelo menos) mas na hora perguntei ao Thiago quem era.</p>
					<p>Papo vai, papo vem, decidimos ir na finada Prelude (que Deus a tenha!). Uma dose dupla de cerveja a noite toda foi o suficiente para nos conhecermos melhor e nos tornarmos amigos.</p>
					<p>Daí, adicionar no Orkut (arhg!), foi o passo natural seguinte. Sem mencionar o famoso MSN! Começamos a nos falar com frequência ao telefone (iniciativa dela) e resolvi matar aula na UFRJ para encontrá-la na PUC com a promessa de tomar umas cervejas de graça na chopada. Levei o grande Thiago Valadão nessa empreitada...</p>
					<p>Algumas aulas "cabuladas" na UFRJ depois... começamos a ficar "sério". Acho que todos conhecem bem o termo mas "sério" significa um namoro não assumido (não para ela, que acreditava que de sério não havia nada... mas ok...). Tentei formalizar a situação no dia 12/06/2005, para meu azar, no dia dos namorados. Tomei um sonoro "não". Era brega demais aceitar namorar no dia dos namorados...</p>
					<p>Nessa época (jun/2005), eu já sabia que havia algo de especial nela. Não é algo que se explique, por isso não vou tentar, mas já sabia que casaríamos! E a certeza veio no dia 29.06 quando finalmente consegui ouvir um sacrificado e baixo "sim". Acho que foi minha insistência que conquistou minha futura esposa...</p>
					</div>
				</article>

	            <article class="grid_4">
	            	<div class="indent-left">
	                	<h2 class="indent-bot2">Noivado (1)</h2>
	                    <div class="indent-bot">
	                        <figure class="img-border1"><img src="static/images/engaged.png" alt=""></figure>
	                        <div class="clear"></div>
	                    </div>
	                    <blockquote class="q3">
	                    	<div class="padding">
	                        	Uma formatura, uma passagem para Machu Picchu e voilà! Esta armado o pedido de casamento!
	                        </div>
	                    </blockquote>
						<p>Mais que merecidamente, Nana tornou-se Engenheira em agosto de 2010. Estávamos pensando em viajar para o Chile naqule ano mas, por conta do terremoto, mudamos para o Peru. Comprei a passagem e fui na TAM pedir o bilhete no formato "old school", antes dessa papelada toda que é hoje. Não consegui mas dei meu jeito e, no dia da formatura, lhe entreguei a passagem dentro de um envelope da TAM montado por mim. Afinal, 5 anos de engenharia deveriam me servir para algo!</p>
						<p>Não podia haver ocasião melhor que essa! Paris é muito clichê! Mas Machu Picchu era um sonho dela. Anel de noivado comprado na véspera da viagem e guardadas no fundo da mochila, embarcamos em uma viagem que mudaria tudo!</p>
						<p>Minha mochila era minha companheira inseparável tamanho o medo de perder o precioso objeto e estragar uma grande oportunidade.</p>
						<p>Dia de ir para Machu Picchu! Tensão e ansiedade pelo fim da visita guiada para, então, ficar finalmente a sós! Dessa vez, não tomei um sonoro "não". Mas também não ouvi um sim. Acho que ela não acreditou ou não tava entendendo. Altura, talvez?</p> Caída a ficha, ufa!, ela aceitou!
	                    <!--<ul class="list-1 p2">
	                    	<li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
	                        <li><a href="#">Voluptate velit esse cillum dolore</a></li>
	                        <li><a href="#">Cusamus et iusto odio dignissimos</a></li>
	                        <li><a href="#">Ducimus qui blanditiis</a></li>
	                        <li><a href="#">Praesentium voluptatum deleniti atque</a></li>
	                    </ul>-->
	                	<h2 class="indent-bot2">Noivado (2)</h2>
						<p>A saga continua por mais alguns anos (enrolação, minha sogra diria) e, em 2012, finalmente <em>habemus datum</em>. Era hora de, enfim, trocarmos alianças. Em uma incrível viagem para a Califórnia, compramos nossas alianças na primeira parada, San Francisco! Para nós dois, era a materialização do noivado ocorrido anós antes.</p>
	                    <div class="indent-bot">
	                        <figure class="img-border1"><img src="static/images/aliancas.png" alt="Alianças"></figure>
	                        <div class="clear"></div>
	                    </div>
						<p>Data marcada, alianças no dedo, era hora de anuncia a Boa Nova e iniciar a loucura de preparativos!</p>
	                    <a class="link-1" href="igreja.html">Sobre a cerimônia</a>
	                </div>
	            </article>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block js_bottom %}
<script type="text/javascript">
	$("a.active").removeClass("active");
	$($(".menu li a")[0]).addClass("active");
	$(window).load(function() {
		$('.slider')._TMS({
			duration:1000,
			easing:'easeOutQuint',
			preset:'slideDown',
			slideshow:7000,
			banners:false,
			pauseOnHover:true,
			pagination:true,
			pagNums:false
		});
	});
</script>
{% end %}