{% extends "base.html" %}

{% block title %}Mariana e Victor{% end %}

{% block main %}
<div class="main">
	<div class="slider-wrapper">
        <div class="slider">
            <ul class="items">
                <li>
                    <img src="static/images/foto1.jpg" alt="Macchu Picchu" />
                </li>
                <li>
                    <img src="static/images/foto2.jpg" alt="Lisboa" />
                </li>
                <li>
                    <img src="static/images/foto3.jpg" alt="Paris" />
                </li>
            </ul>
        </div>
    </div>
</div>
{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_4">
                	<div class="indent-right">
                    	<h2>Love Story</h2>
                        <p>Laura &amp; John is one of <a class="link" target="_blank" href="http://blog.templatemonster.com/free-website-templates/">free website tem plates</a> created by TemplateMonster.com team. This website template is optimized for 1280X1024 screen resolution.</p>
                        <ul class="list-1 p2">
                        	<li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
                            <li><a href="#">Voluptate velit esse cillum dolore</a></li>
                            <li><a href="#">Cusamus et iusto odio dignissimos</a></li>
                            <li><a href="#">Ducimus qui blanditiis</a></li>
                            <li><a href="#">Praesentium voluptatum deleniti atque</a></li>
                        </ul>
                        <p class="img-indent-bot">This <a class="link" target="_blank" href="http://blog.templatemonster.com/2012/01/09/free-website-template-wedding-jquery-slider/">Laura &amp; John Template</a> goes with two packages – with PSD source files and without them. PSD source files are avail able for free for the registered members of TemplatesMonster.com.</p>
                        <a class="link-1" href="#">About Our Wedding</a>
                    </div>
                </article>
                <article class="grid_8">
                	<div class="indent-left">
                        <h2 class="indent-bot2">About Our Family</h2>
                        <div class="wrapper p3">
                            <figure class="img-indent">
                                <p class="p1"><a href="#"><img class="img-border1" src="http://templates.websitetemplatesonline.com/Free-Wedding-Web-Theme/images/page1-img1.jpg" alt=""></a><span class="clear"></span></p>
                                <span class="text-1">John Daniels</span>
                            </figure>
                            <div class="extra-wrap">
                                <blockquote class="q1">
                                	<span class="quote-marker1"></span>
                                    <div class="quote-bot">
                                        <div class="quote-top">
                                            <div class="quote">
                                                <div class="padding">
                                                    <p class="p2">&quot;...sed ut perspiciatis unde omnis iste natus error volup tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
Veritatis et quasi architecto beatae vitae dicta sunt expli cabo. Nemo enim ipsam voluptatem...&quot;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="wrapper img-indent-bot">
                            <figure class="img-indent-r">
                                <p class="p1"><a href="#"><img class="img-border1" src="http://templates.websitetemplatesonline.com/Free-Wedding-Web-Theme/images/page1-img2.jpg" alt=""></a><span class="clear"></span></p>
                                <div class="alignright">
                                	<span class="text-1">Laura Daniels</span>
                                </div>
                            </figure>
                            <div class="extra-wrap">
                                <blockquote class="q2">
                                	<span class="quote-marker2"></span>
                                    <div class="quote-bot">
                                        <div class="quote-top">
                                            <div class="quote">
                                                <div class="padding">
                                                    <p>&quot;Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.</p>
                                                    Qui ratione voluptatem sequi nesciunt neque poruisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit.&quot;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <a class="link-1" href="#">Read More</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block js_bottom %}
$("a.active").removeClass("active");
$($(".menu li a")[0]).addClass("active");
<script type="text/javascript">
	$(window).load(function() {
		$('.slider')._TMS({
			duration:1000,
			easing:'easeOutQuint',
			preset:'slideDown',
			slideshow:7000,
			banners:false,
			pauseOnHover:true,
			pagination:true,
			pagNums:false
		});
	});
</script>
{% end %}