{% extends "base.html" %}

{% block title %}Lista de Presentes{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
    	<div class="container_12">
        	<div class="wrapper">
            	<article class="grid_4">
                	<div class="indent-right">
                        <div class="indent-bot">
                            <img src="static/images/image-logo.png" width="155" height="49" alt="Image">

                        </div>
                        <a class="link-1" href="http://www.imagepresentes.com.br/site/lista-de-presentes/" title="Image Presentes">ver a lista</a>
                    </div>
                </article>
                <article class="grid_4">
                	<div class="indent">
                        <div class="indent-bot">
                            <img src="static/images/fastshop_logo.png" width="250" height="117" alt="FashShop">
                        </div>
                        <a class="link-1" href="http://listadecasamento.fastshop.com.br/ListaCasamento/ListaCasamentoHome.aspx" title="FashShop">ver a lista</a>
                    </div>
                </article>
                <article class="grid_4">
                	<!--<div class="indent-left">
                    	<h2 class="prev-indent-bot">Testimonials</h2>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo emo enim ipsam voluptatem quia voluptas.
                                <strong class="text-2">Jason Segel</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Aut odit aut fugit, sed quia consene voluptatem nesciunt. At vero eos et accusamus.
                                <strong class="text-2">Mike Pileggi</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
                                <strong class="text-2">Helen Smart</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 img-indent-bot">
                        	<div class="padding">
                            	Occaecati cupiditate non provident, deserunt mollitia animi, id est laborum et dolorum fuga
                                <strong class="text-2">Alex Smith</strong>
                            </div>
                        </blockquote>
                        <a class="link-1" href="#">More Testimonials</a>
                    </div>-->
                </article>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[3]).addClass("active");
</script>
{% end %}