{% extends "base.html" %}

{% block title %}Lista de Presentes{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
    	<div class="container_12">
        	<div class="wrapper">
				<img src="static/images/under_construction_french_4.jpg" alt="" style="margin: 0 auto; margin-left: 165px;">
            	<!--<article class="grid_4">
                	<div class="indent-right">
                    	<h2 class="indent-bot2">Our Links</h2>
                        <div class="indent-bot">
                            <figure class="img-border1"><img src="static/images/page4-img1.jpg" alt=""></figure>
                            <div class="clear"></div>
                        </div>
                        <p>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explica bo. Nemo enim ipsam voluptatem quia voluptas aspernatur. Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt. </p>
                        <ul class="list-1 indent-bot">
                        	<li><a href="#">Neque porro quisquam est</a></li>
                            <li><a href="#">Qui dolorem ipsum quia dolor amet</a></li>
                            <li><a href="#">Consectetur adipisci velit sed</a></li>
                            <li><a href="#">Quia non numquam eius modi tempora</a></li> 
                            <li><a href="#">Incidunt ut labore et dolore magnam</a></li> 
                        </ul>
                        <a class="link-1" href="#">Read More</a>
                    </div>
                </article>
                <article class="grid_4">
                	<div class="indent">
                    	<h2 class="indent-bot2">Other Links</h2>
                        <div class="indent-bot">
                            <figure class="img-border1"><img src="static/images/page4-img2.jpg" alt=""></figure>
                            <div class="clear"></div>
                        </div>
                        <ul class="list-1 p2">
                        	<li><a href="#">Ut enim ad minima veniam</a></li>
                            <li><a href="#">Quis nostrum exercitationem ullam</a></li>
                            <li><a href="#">Corporis suscipit laboriosamsi ut aliquid</a></li>
                            <li><a href="#">Quis autem vel eum iure</a></li>
                            <li><a href="#">Reprehenderit qui in ea voluptate</a></li>
                        </ul>
                        <p class="img-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <a class="link-1" href="#">Read More</a>
                    </div>
                </article>
                <article class="grid_4">
                	<div class="indent-left">
                    	<h2 class="prev-indent-bot">Testimonials</h2>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo emo enim ipsam voluptatem quia voluptas.
                                <strong class="text-2">Jason Segel</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Aut odit aut fugit, sed quia consene voluptatem nesciunt. At vero eos et accusamus.
                                <strong class="text-2">Mike Pileggi</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 p2">
                        	<div class="padding">
                            	Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
                                <strong class="text-2">Helen Smart</strong>
                            </div>
                        </blockquote>
                        <blockquote class="q3 img-indent-bot">
                        	<div class="padding">
                            	Occaecati cupiditate non provident, deserunt mollitia animi, id est laborum et dolorum fuga
                                <strong class="text-2">Alex Smith</strong>
                            </div>
                        </blockquote>
                        <a class="link-1" href="#">More Testimonials</a>
                    </div>
                </article>-->
            </div>
        </div>
    </div>
</section>
{% end %}

{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[3]).addClass("active");
</script>
{% end %}