{% extends "base.html" %}

{% block title %}RSVP{% end %}

{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
    	<div class="container_12">
        	<div class="wrapper">
            	<article class="grid_7">
                	<div class="indent-right">
                    	<h2 class="indent-bot2">RSVP</h2>
                        <p class="p2">Para confirmar sua presença em nosso casamento, entre em contato com nossa
                            cerimonialista. Também avise se você não for! :)</p>
                        <p class="p2">Pedimos a gentileza de entrar em contato até 15/04.</p>
                        <!-- <form id="contact-form" method="post" enctype="multipart/form-data">
                            <fieldset>
                                  <label><span class="text-form">Nome</span><input name="p1" type="text" /></label>
                                  <label><span class="text-form">Email</span><input name="p2" type="text" /></label>
                                  <div class="wrapper">
                                    <div class="extra-wrap">
                                        <textarea name="message"></textarea>
                                        <div class="clear"></div>
                                        <div class="buttons">
                                            <a class="link-1" href="#" onClick="document.getElementById('contact-form').reset(); return false;">Clear</a>
                                            <a class="link-1" href="#" onClick="document.getElementById('contact-form').submit(); return false;">Send</a>
                                        </div> 
                                    </div>
                                  </div>                            
                            </fieldset>
                        </form>-->
                    </div>
                </article>
                <article class="grid_5">
                	<div class="indent-left">
                    	<h2 class="indent-bot2">Contato</h2>
                        <dl>
                            <dt class="p2">Maria Eugênia Zani</dt>
                            <dd><span>Telefone:</span>  (21) 2612-3946</dd>
                            <dd><span>Celular:</span>  (21) 2722-8053</dd>
                            <dd><span>Email:</span> <a href="mailto:mariaeugeniazani@globo.com" target="_blank">mariaeugeniazani@globo.com</a></dd>
                        </dl>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[4]).addClass("active");
</script>
{% end %}
{% end %}
