{% extends "base.html" %}

{% block title %}Cerimônia Religiosa{% end %}


{% block content %}
<section id="content"><div class="ic"></div>
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_4">
                	<div class="indent-right">
                    	<h2 class="indent-bot2">Outeiro da Glória</h2>
                        <div class="indent-bot">
                            <figure class="img-border1"><img src="static/images/igreja.png" alt="Outeiro da Glória"></figure>
                            <div class="clear"></div>
                        </div>
                        <p class="p2">A Igreja de Nossa Senhora da Glória do Outeiro, ou Imperial Igreja de Nossa Senhora da Glória do Outeiro, mais conhecida simplesmente como Igreja da Glória, ergue-se no alto do Outeiro da Glória, no bairro da Glória, na cidade do Rio de Janeiro, no Brasil.</p>
						<p>É considerada uma das joias da arquitetura colonial do Brasil e um dos mais característicos monumentos da cidade.</p>
						
						<h2 class="indent-bot2">Localização</h2>
                        <div class="indent-bot">
                            <figure class="img-border1">
								<iframe width="262" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=pt-BR&amp;t=h&amp;msa=0&amp;msid=204517938409003928738.00046ec7e6d50bb478f3a&amp;source=embed&amp;ll=-22.921456,-43.175553&amp;spn=0.002372,0.003433&amp;output=embed"></iframe>
                            </figure>
                            <div class="clear"></div>
                        </div>
                        <dl>
                            <dt class="p2">Praça Nossa Senhora da Glória, 135/204 Glória - Rio de Janeiro - RJ</dt>
                            <dd><span>Telefone:</span> (21) 2225-2869</dd>
                            <dd><span>Fax:</span> (21) 2557-6908</dd>
                            <dd><span>Email:</span> <a href="mailto:irmandade@outeirodagloria.org.br" target="_blank">irmandade@outeirodagloria.org.br</a></dd>
                        </dl>
						<a class="link-1" href="http://pt.wikipedia.org/wiki/Igreja_de_Nossa_Senhora_da_Gl%C3%B3ria_do_Outeiro">Saiba mais</a>
                    </div>
                </article>
                <article class="grid_8">
                	<div class="indent-left">
                    	<h2>Cerimônia</h2>
                        <p class="img-indent-bot">A cerimônia religiosa se realizará no Outeiro da Glória.</p>
                        <div class="wrapper indent-bot">
                        	<figure class="img-indent2 img-border1"><img src="static/images/page2-img2.jpg" alt=""></figure>
                            <div class="extra-wrap indent-top">
                            	<em class="color-2">At vero eos et accusamus iusto odio dignisi mos ducimus qui blanditiis praesentium volup tatum deleniti atque corrupti.</em>
                            </div>
                        </div>
                        <p class="img-indent-bot">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <div class="wrapper p3">
                        	<figure class="img-indent3 img-border1"><a href="#"><img src="static/images/page2-img3.jpg" alt=""></a></figure>
                            <figure class="img-indent3 img-border1"><a href="#"><img src="static/images/page2-img4.jpg" alt=""></a></figure>
                            <figure class="img-indent3 img-border1"><a href="#"><img src="static/images/page2-img5.jpg" alt=""></a></figure>
                            <figure class="fleft img-border1"><a href="#"><img src="static/images/page2-img6.jpg" alt=""></a></figure>
                        </div>
                        <a class="link-1" href="#">View All Photos</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% end %}

{% block js_bottom %}
<script>
$("a.active").removeClass("active");
$($(".menu li a")[1]).addClass("active");
</script>
{% end %}